.wd-padded-left-right {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
}

.wd-search-container {
    display: flex;
    align-items: center;
    background-color: lightgray;
    border-radius: 25px;
    padding: 10px;
    width: 80%;
}

.wd-search-icon {
    color: darkgray;
    margin-right: 10px;
}

#searchInput {
    border: none;
    background: none;
    outline: none;
    color: darkgray;
    flex-grow: 1;
}

.wd-gear-icon {
    color: darkgray;
    margin-left: auto;
    margin-top: 10px;
}

.wd-tab-list {
    list-style-type: none;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}

.wd-tab {
    border-bottom: 2px solid transparent;
}

.wd-tab span.active {
    border-bottom: 3px solid lightskyblue;
    padding-bottom: 3px;
}

.wd-image-container {
    position: relative;
    display: inline-block;
}

.wd-image-container img {
    width: 100%;
}

.wd-image-container .wd-text {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 20px;
    font-size: 16pt;
    font-weight: bold;
}

.wd-tuit-list {
    list-style-type: none;
    padding-right: 20px;
    padding-left: 20px;
}

.wd-username {
    font-weight: bold;
}

.wd-tuit-data {
    display: flex;
    margin: 5px 0 0 0;
    color: darkgrey;
    font-size: 10pt;
}

.wd-tuit-data-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wd-elipsis-icon {
    color: darkgrey;
}