.wd-padded-left-right {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
}

.wd-search-container {
    display: flex;
    align-items: center;
    background-color: lightgray;
    border-radius: 25px;
    padding: 10px;
    width: 80%;
}

.wd-search-container-bt {
    display: flex;
    align-items: center;
    border-color: lightgray !important;
    border-radius: 25px;
    padding: 10px;
    width: 80%;
}

.wd-search-icon {
    color: darkgray;
    margin-right: 10px;
}

.wd-search-icon-bt {
    color: black;
    margin-right: 10px;
}

#searchInput {
    border: none;
    background: none;
    outline: none;
    color: darkgray;
    flex-grow: 1;
}

.wd-gear-icon {
    color: darkgray;
    margin-left: auto;
    margin-top: 10px;
}

.wd-gear-icon-bt {
    color: rgb(0, 64, 255);
    margin-left: auto;
    margin-top: 5px;
}

.wd-tab-list {
    list-style-type: none;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}

.wd-tab {
    border-bottom: 2px solid transparent;
}

.wd-tab span.active {
    border-bottom: 3px solid lightskyblue;
    padding-bottom: 3px;
}

.wd-image-container {
    position: relative;
    display: inline-block;
}

.wd-image-container img {
    width: 100%;
}

.wd-image-container .wd-text {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 20px;
    font-size: 16pt;
    font-weight: bold;
}

.wd-tuit-list {
    list-style-type: none;
    padding-right: 20px;
    padding-left: 20px;
}

.wd-username {
    font-weight: bold;
}

.wd-tuit-data {
    display: flex;
    margin: 5px 0 0 0;
    color: darkgrey;
    font-size: 10pt;
}

.wd-tuit-data-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wd-elipsis-icon {
    color: darkgrey;
}

.wd-search-bar {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.wd-search-icon {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.wd-image-text {
    color: white;
    font-size: 24px;
    /* Bootstrap requires some SASS configuration that I don't think I have access to. */
    left: 10px;
    bottom: -5px;
}


.wd-A-parent-div {
    height: 24px;
    margin-bottom: 5px;
}

.wd-A-search-bar {
    background-color: darkgray;
    color: white;
    border-radius: 12px;
    float: left;
    height: 24px;
    width: calc(100vw - 72px);
}

.wd-A-gear {
    color: white;
    position: absolute;
    right: 12px;
    top: 12px;
    float: right;
    height: 24px;
    width: 24px;
}

.wd-B-parent-div {
    display: flex;
    justify-content: space-around;
    color: white;
    border-bottom: .1em solid rgb(110, 118, 125);
}

.wd-B-tab {
    color: rgb(110, 118, 125);
    font-size: 15px;
    padding: 16px
}

.wd-B-selected-tab {
    color: rgb(29, 161, 242);
    border-bottom: .25em solid rgb(29, 161, 242);
}

.wd-suggested-small-text {
    font-weight: normal;
    font-size: 15px;
    color: rgb(110, 118, 125)
}

.wd-suggested-large-text {
    font-size: 15px;
    font-weight: bold;
    margin: -10px 0px;
}

.wd-suggested-parent-div {
    border: 1px solid;
    border-color: darkgray;
}

.wd-suggested-middle-text {
    color: rgb(110, 118, 125);
    font-size: 13px;
    font-weight: bold;
}

.wd-stacked-text {
    float: left;
}

.wd-suggested-image-div {
    /* float:inline-end; */
    margin-top: 8px;
    margin-bottom: 4px;
}

.wd-suggested-image {
    width: 100px;
    height: 100px;
    border-radius: 12px;
}

.wd-profile-image {
    width: 48px;
    height: 48px;
    border-radius: 50%
}

.wd-tuit-button {
    border-radius: 20px;
    width: 80%;
}

.wd-side-col-upper {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.wd-side-col {
    border: 1px solid darkgray;
    width: 95%;
}

.wd-side-col-bottom {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.wd-follow-text {
    width: 100px;
}

i {
    font-style: normal;
}